.app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #282c34;
	font-size: calc(10px + 2vmin);
}

.grid-container {
	display: grid;
	grid-gap: 10px;
	padding: 10px;
	background-color: #2196f3;
	grid-template-columns: auto auto auto auto auto auto;
}

.grid-container > div {
	padding: 20px 0;
	font-size: 30px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
}

.extended {
	grid-column-end: 7;
	grid-column-start: 4;
}

.card {
	margin-top: 50px;
}

.lable {
	margin-top: 5px;
	margin-left: 5px;
	color: white;
}

.input {
	margin-right: 10px;
	margin-left: 5px;
}
